*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.logo_box, .logo{
  display: none;
}

.monteurvideo{
  font-size: 24px;
  color: black;
}

/* MENU */

.header{
}

.nav{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > a{
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 0 12px;
  font-size: 13.2px;
}

.liens_top{
  transform: transition 1s;
}

.liens_top:hover{
    transform: scale(1.2);
}

/* FIN */



/* SLIDER */

.container{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
}

.container .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  animation: slideshow 5s linear infinite;
}

.container .slider .slide{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

.container .slider .slide .caption{
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.container .slider .slide .caption h2{
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-size: 48px;
}

.container .slider .slide .caption p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
}

.container .slider .slide.slide1{
  background-image: url("../img/montagevideo.jpg");
  background-size: cover;
  background-position: center;
}

.container .slider .slide.slide2{
  background-image: url("../img/developpementweb.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes slideshow {
  0%{
    left: 0;
  }
  45%{
    left: 0;
  }

  50%{
    left: -100%;
  }

  95%{
    left: -100%;
  }

  100%{
    left: 0;
  }
}

/* slider media queries */

@media (max-width :768px){
  .container .slider .slide .caption{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 20px;
    transition: 0.5s;
  }

  .container .slider .slide .caption h2{
    margin: 0 0 10px;
    font-size: 30px;
    transition: 0.5s;
  }

  .container .slider .slide .caption p{
    font-size: 25px;
    transition: 0.5s;
  }
}

  /* fin media queries */

/* FIN */

/* titre sous titre section */

.tom{
  width: 100%;
}

.section{
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section_titre{
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  line-height: 1.4;
}

.description{
  color: #159da4;
  font-weight: normal;
  font-size: 16px;
}

/* fin */

/* biographie */

.biographie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.part2{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.photo{
}

.bio{
    color: #159da4;
    align-self: center;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.texte_biographie{
  font-size: 20px;
  margin-top: 20px;
}


/* fin */

/* métiers */

.metiers{
  margin-top: 40px;
}


.metiers_video{
}


.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.texte_video{
  color: #98A9AA;
  margin-left: 40px;
  margin-right: 40px;
}

.tv{
  font-size: 20px;
}

.titre_video{
  color: #159da4;
  align-self: center;
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.camera{
  width: 80%;
}

.hr{
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator{
  width: 85%;
  color: #98A9AA;
  margin: 35px 0px;
}

.metiers_dev{
  width: 100%;
}


.developpementweb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.titre_dev{
  color: #159da4;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
}

.texte_dev{
  color: #98A9AA;
  margin-left: 40px;
  margin-right: 40px;
}

.td{
  font-size: 20px;
}

.code{
  width: 80%;
}


/* fin */


/* section compétences */

.separator_comp{
  width: 80%;
  color: #98A9AA;
  margin-top: -20px;
  margin-bottom: 20px;
}


/* fin */


/* media quesries metiers */

@media (min-width: 1050px){
  /* biographie */

  .presentation{
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
  }

  .description{
    color: #159da4;
    font-weight: normal;
    font-size: 16px;
  }

  .biographie{
    display: grid;
    grid-template-columns: 1fr 1.9fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas:
    "image part"
    "image part";
    background-color: #e4e9e9;
    height: auto;
    padding: 25px 15px;
    padding-left: 50px;
  }

  .part2{
    grid-area: part;
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .photo{
    grid-area: image;
    align-self: center;
    justify-self: center;
  }

  .bio{
    color: #159da4;
    align-self: center;
    margin-bottom: 10px;
  }

  .texte_biographie{
    font-size: 20px;
    padding-right: 60px;
    align-self: center;
    margin-top: 10px;
  }


  /* fin */

  /* metiers */
  .metiers_video{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "video textevideo"
    "video textevideo";
    padding-top: 70px;
    padding-bottom: 70px;
  }


  .video{
    grid-area: video;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .texte_video{
    grid-area: textevideo;
    justify-self: center;
    align-self: center;
    color: #98A9AA;
  }

  .tv{
    font-size: 20px;
    padding-right: 60px;
  }

  .titre_video{
    margin-bottom: 12px;
    color: #159da4;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
  }

  .camera{
    width: 50%;
    margin-top: 12px;
  }

  .hr{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .separator_metiers{
    width: 80%;
    color: #98A9AA;
  }

  .metiers_dev{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "textedev dev"
    "textedev dev";
    padding-top: 70px;
    padding-bottom: 70px;
  }


  .developpementweb{
    grid-area: dev;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titre_dev{
    margin-bottom: 12px;
    color: #159da4;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
  }

  .texte_dev{
    grid-area: textedev;
    justify-self: center;
    align-self: center;
    color: #98A9AA;
  }

  .td{
    font-size: 20px;
    padding-left: 60px;
  }

  .code{
    width: 50%;
    margin-top: 12px;
  }

}

/* setion competences */

.competences{

}

.slider2{
  padding: 35px;
}

.slide_auto{
  width: 100%;
  height: 100%;
}

.texte_slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 35px;
}

.groupe{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.span_comp{
  margin-left: 5px;
  font-size: 25px;
  color: #159DA4;
}

.texte_competence{
  margin-bottom: 20px;
  margin-left: 25px;
  margin-top: 5px;
  color: #98A9AA;
  font-size: 18px;
}

/* fin */

/* formation */

.formations{
  margin: 0 35px;
  margin-top: 20px;
}

.titre_formation{
  font-size: 22px;
  color: #000;
}

.soustitre_formation{
  font-size: 16px;
  color: #159DA4;
  margin-bottom: 10px;
}

.texte_formation{
  font-size: 16px;
  color: #98A9AA;
}

.img_formation{
  width: 100%;
}

.info_formation{
  margin-bottom: 35px;
}

/* fin */

@media (min-width: 1200){
  .sectionpresentation{
    margin-left: 45px;
  }
}

@media (min-width: 1600){
  .sectionpresentation{
    margin-left: 95px;
  }
}

@media (min-width: 1639){
  .sectionpresentation{
    margin-left: 95px;
  }
}



/* fin */
