body{
  font-family: 'Open Sans', sans-serif;
}

.logo_box, .logo{
  display: none;
}

.ul_slider{
  padding: 0px;
  transform: translate3d(0px, 0px, 0px);
}

.li_drone{
  background-position: center center;
  background-image: url("img/drone.jpg");
  visibility: visible;
  opacity: 1;
  transition: none 0s ease 0s;
  transform: translate3d(0px, 0px, 0px);
  z-index: 4;
  left: 0px;
  top: 0px;
}

.tomlemelle_slider{
  font-size: 30px;
  color: #ffffff;
}

.monteurvideo{
  font-size: 24px;
  color: black;
}
