*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.logo_box, .logo{
  display: none;
}

.monteurvideo{
  font-size: 24px;
  color: black;
}

/* MENU */

.header{
}

.nav{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > a{
  color: black;
  text-decoration: none;
  font-weight: 600;
  padding: 0 12px;
  font-size: 13.2px;
}

.liens_top{
  transform: transition 1s;
}

.liens_top:hover{
    transform: scale(1.2);
}

/* FIN */



/* SLIDER */

.container{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
}

.container .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  animation: slideshow 5s linear infinite;
}

.container .slider .slide{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

.container .slider .slide .caption{
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.container .slider .slide .caption h2{
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-size: 48px;
}

.container .slider .slide .caption p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
}

.container .slider .slide.slide1{
  background-image: url("../img/montagevideo.jpg");
  background-size: cover;
  background-position: center;
}

.container .slider .slide.slide2{
  background-image: url("../img/developpementweb.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes slideshow {
  0%{
    left: 0;
  }
  45%{
    left: 0;
  }

  50%{
    left: -100%;
  }

  95%{
    left: -100%;
  }

  100%{
    left: 0;
  }
}

/* slider media queries */

@media (max-width :768px){
  .container .slider .slide .caption{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 20px;
    transition: 0.5s;
  }

  .container .slider .slide .caption h2{
    margin: 0 0 10px;
    font-size: 30px;
    transition: 0.5s;
  }

  .container .slider .slide .caption p{
    font-size: 25px;
    transition: 0.5s;
  }
}

  /* fin media queries */


/* titre sous titre section */

.photo{
  margin: 0 9.5%;
}

.tom{
  width: 100%;
}

.section{
  margin-left: 9.5%;
  margin-right: 9.5%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section_titre{
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  line-height: 1.4;
}

.description, .titre__credits, .titre_RGPD{
  color: #159da4;
  font-weight: normal;
  font-size: 16px;
}

.div__credits, .div__RGPD{
  margin-left: 9.5%;
  margin-right: 9.5%;
}

@media (min-width: 1400px){
  .div__credits, .div__RGPD, .credits__button, .section,{
    margin-left: 227px;
    margin-right: 227px;
  }
}

.titre_RGPD{
  font-size: 25px;
  color: black;
}

.texte__rgpd{
  color: #159DA4;
}


.texte__rgpd strong{}
  color: #159DA4;
}


.credits__button{
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  border: none;
  background-color: #159DA4;
  padding: 7px 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: all ease 500ms;

}

.btn:hover{
  background: #98A9AA;
  margin-left: 15px;
  font-size: 20px;
  border: none;
  transform: scale(1.2);

}

/* fin */

/* biographie */

.biographie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.part2{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.photo{
}

.bio{
    color: #159da4;
    align-self: center;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.texte_biographie{
  font-size: 20px;
  margin-top: 20px;
}


/* fin */

/* métiers */

.metiers{
  margin-top: 40px;
}


.metiers_video{
}


.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.texte_video{
  color: #98A9AA;
  margin-left: 40px;
  margin-right: 40px;
}

.tv{
  font-size: 20px;
}

.titre_video{
  color: #159da4;
  align-self: center;
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.camera{
  width: 80%;
}

.hr{
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator{
  width: 100%;
  color: #98A9AA;
  margin: 9.5% 9.5%;
}

.metiers_dev{
  width: 100%;
}


.developpementweb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.titre_dev{
  color: #159da4;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
}

.texte_dev{
  color: #98A9AA;
  margin-left: 40px;
  margin-right: 40px;
}

.td{
  font-size: 20px;
}

.code{
  width: 80%;
}


/* fin */


/* section compétences */

.separator_comp{
  width: 100%;
  color: #98A9AA;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 9.5%;
  margin-right: 9.5%;
}


/* fin */


/* media queries */

@media (min-width: 1050px){
  /* biographie */

  .presentation{
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    line-height: 1.4;
  }

  .description{
    color: #159da4;
    font-weight: normal;
    font-size: 16px;
  }

  .biographie{
    display: grid;
    grid-template-columns: 1fr 1.9fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas:
    "image part"
    "image part";
    background-color: #e4e9e9;
    height: auto;
    padding: 25px 15px;
    padding-left: 50px;
  }

  .part2{
    grid-area: part;
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .photo{
    grid-area: image;
    align-self: center;
    justify-self: center;
  }

  .bio{
    color: #159da4;
    align-self: center;
    margin-bottom: 10px;
  }

  .texte_biographie{
    font-size: 20px;
    padding-right: 60px;
    align-self: center;
    margin-top: 10px;
  }


  /* fin */

  /* metiers */
  .metiers_video{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "video textevideo"
    "video textevideo";
    padding-top: 70px;
    padding-bottom: 70px;
  }


  .video{
    grid-area: video;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .camera{
    width: 80%;
  }

  .texte_video{
    grid-area: textevideo;
    justify-self: center;
    align-self: center;
    color: #98A9AA;
  }

  .tv{
    font-size: 20px;
  }

  .titre__video{
    margin-bottom: 12px;
    color: #159da4;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
  }

  .camera{
    width: 80%;
    margin-top: 12px;
  }

/* fin */

/* separator metiers */

  .hr{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .separator__metiers{
    width: 80%;
    color: #98A9AA;
  }

/* fin */

/* section metiers */

  .metiers_dev{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "textedev dev";
    padding-top: 70px;
    padding-bottom: 70px;
  }


  .developpementweb{
    grid-area: dev;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titre__dev{
    margin-bottom: 12px;
    color: #159da4;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
  }

  .texte__dev{
    grid-area: textedev;
    justify-self: center;
    align-self: center;
    color: #98A9AA;
  }

  .td{
    font-size: 20px;
  }

  .code{
    width: 80%;
    margin-top: 12px;
  }

}

/* fin */


/* setion competences */


.slider2{
  padding: 9.5%;
}

.slide_auto{
  width: 100%;
  height: 100%;
}

.texte_slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 9.5%;
}

.groupe{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.span_comp{
  margin-left: 5px;
  font-size: 25px;
  color: #159DA4;
}

.texte_competence{
  margin-bottom: 20px;
  margin-left: 25px;
  margin-top: 5px;
  color: #98A9AA;
  font-size: 18px;
}

/* fin */

/* formation */

.formations{
  margin: 0 9.5%;
  margin-top: 20px;
}

.titre_formation{
  font-size: 22px;
  color: #000;
}

.soustitre_formation{
  font-size: 16px;
  color: #159DA4;
  margin-bottom: 10px;
}

.texte_formation{
  font-size: 16px;
  color: #98A9AA;
}

.img_formation{
  width: 100%;
}

.info_formation{
  margin-bottom: 9.5%;
}

/* fin */

/* milestone */

.milestone {
  list-style: none;
  margin: 10px 9.5%;
}
.milestone__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 1em;

  margin-bottom: 4em;
}

.milestone__icon {
  position: relative;
}

.milestone__item:not(:last-child) .milestone__icon:after {
  content: "";

  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 1px;
  height: 100%;

  border-left: 1px dashed #999;
}


.milestone__icon i,
.milestone__icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #fff;
}

.milestone__icon img {
  max-width: 100%;
}


.milstone__content h2{
  margin-left: -2px;
}

.milestone__h2__adl{
  margin-left: -142px;
}

.milestone__h2__linfo{
  margin-left: -198px;
}

.milestone__h2__andchor{
  margin-left: -213px;
}

.milestone__h2__dentanor{
  margin-left: -133px;
}



/* fin */


/* sections passions */

.section__passions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 9.5%;
}

#passions_articlesa{
  background-image: url("../img/developpeur.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#passions_articlesb{
  background-image: url("../img/productionaudiovisuelle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#passions_articlesc{
  background-image: url("../img/streetworkout.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#passions_articlesd{
  background-image: url("../img/gaming.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.passions__articles{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 25vh;
  margin-bottom: 15px;
  filter: grayscale(50%);
}

.passions__caption{
  position: absolute;
  bottom: -15px;
  padding: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1);
  transition: all ease 500ms;
}

.titre__passions{
  font-weight: bold;
  font-size: 25px;
  color: #000;
  text-align: center;
  margin-top: -15px;
  text-transform: uppercase;
}

.passions__articles:hover .passions__caption{
  transform: scale(0);
}

.passions__articles:hover{
  filter: grayscale(0%);
}


/* fin */

/* section youtube video */

.youtube{
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
   margin: 10px 9.5%;
}

.youtube > iframe,
.youtube > object,
.youtube > embed {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   filter: grayscale(50%);
}

.youtube > iframe:hover,
.youtube > object:hover,
.youtube > embed:hover {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   filter: grayscale(0%);
}


.section__youtube > div{
   width: 100%;
   height: 100%;

}

.youtube__titre{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #159DA4;
}

/* fin */

/* section contact */

.section__contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 9.5%;
}

.contact__label{
  font-size: 13px;
  color: #159DA4;
  margin-top: 14px;
  margin-bottom: 7px;
  display: block;
}

.form{
  width: 100%;
}

input{
  width: 100%;
  height: 44px;
  background: #fff;
  border: 1px solid #159DA4;
  color: #000;
}

input[type="submit"]{
  border: none;
  color: white;
  transition: all ease 500ms;
  font-size: 16px;
}

input[type="submit"]:hover{
  background: #98A9AA;
  margin-left: 15px;
  transform: scale(1.2);
  font-size: 20px;
  border: none;
}

textarea{
  width: 100%;
  margin-bottom: 11px;
}


.submit{
  background: #159DA4;
  width: 142px;
  height: 48px;
  color: #fff;
}

/* fin */

/* sticky footer */

.main{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content{
  flex: 1;
}

/* fin */

/* section footer */

.footer{
  background: #484848;
  width: 95%;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 27px 27px;
  grid-template-areas:
  "liens"
  "rc";
  padding: 0px;
  padding-left: 5%;
}

.footer__list{
  color: white;
  font-size: 11px;
  grid-area: liens;
  justify-self: start;
  align-self: center;
}

.footer__list a{
  text-decoration: none;
  color: #98A9AA;
}

.icon__reseauxsociaux{
  grid-area: rc;
  align-self: center;
  justify-self: center;
  margin-right: 60px;
}

.icon__reseauxsociaux a{
  color: #98A9AA;
  padding: 0px 5px;
}

.icon__reseauxsociaux a:first-child:hover{
  color: red;
}

.icon__reseauxsociaux a:last-child:hover{
  color: #159DA4;
}

/* fin */

/* media queries */

@media (max-width: 960px){
  .milestone__icon h2{
    display: none;
  }
}

@media (min-width: 960px){

  .separator_comp{
    margin-left: 9.5%;
    margin-right: 9.5%;
  }

  .competences{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "gauche droite";
  }

  .slider2{
    grid-area: gauche;
  }

  .texte_slider{
    grid-area: droite;
  }

  #a{
    align-self: start;
  }

  #b{
    align-self: center;
    margin-bottom: 90px;
  }

  #c{
    margin-top: 90px;
    align-self: center;
  }

  #d{
    align-self: end;
    margin-top: 50px;
  }

  .all__nws{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "imgnws"
    "infonws";
  }

  .all__nws .img_formation{
    grid-area: imgnws;
  }

  .all__nws .info_formation{
    grid-area: infonws;
  }

  .all__chataigneraie{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "imgchat"
    "infochat";
  }

.all__chataigneraie .img_formation{
    grid-area: imgchat;
}

.all__chataigneraie .info_formation{
    grid-area: infochat;
}

.formations{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "normandiews lachat";
  grid-column-gap: 25px;
}

.all__nws{
  grid-area: normandiews;
}

.all__chataigneraie{
  grid-area: lachat;
}

  .milstone__icon h2{
    display: none;
  }

  .milstone__content h2{
    display: none;
  }

  .milestone__icon h2{
    position: absolute;
    top: 30px;
    left: -90px;
  }

  .milestone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    margin-left: 350px;
    margin-right: 60px;
  }


  .milestone__item {
    margin-bottom: 4em;
}

  .milestone__th:after{
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: inherit;
    margin-top: -2px;
  }

  .milestone__th{
    display: block;
    zoom: 1;
    position: absolute;
    width: 30px;
    height: 1px;
    right: 100px;
    top: 50px;
    background-color: #999;
  }


  .section__passions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "dev prod"
    "sw gaming";
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
  }

  #passions_articlea{
    grid-area: dev;
  }

  #passions_articleb{
    grid-area: prod;
  }

  #passions_articlec{
    grid-area: sw;
  }

  #passions_articled{
    grid-area: gaming;
  }

  .footer{
    height: 54px;
    grid-template-columns: 60% 29.5%;
    grid-template-rows: 1fr;
    grid-template-areas:
    "liens rc";
  }


  @media (min-width: 1000px){
    .section__youtube{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
      "a b"
      "c d";
      grid-column-gap: 25px;
      grid-row-gap: 25px;
    }

    .item__youtube1{
      grid-area: a;
    }

    .item__youtube2{
      grid-area: b;
    }

    .item__youtube3{
      grid-area: c;
    }

    .item__youtube4{
      grid-area: d;
    }
}

@media (min-width: 1200px){
  .sectionpresentation{
    margin-left: 45px;
  }
}

@media (min-width: 1300px){
  .milestone__item{
    margin-left: 227px;
    margin-right: 227px;
  }
}

@media (min-width: 1400px){
    .photo, .metiers, .formations, .section__passions,
     .section__contact, .separator__comp{
      margin-left: 227px;
      margin-right: 227px;
    }

    .photo{
      width: 60%;
      padding-left: 227px;
    }

    .part2{
      padding-right: 227px;
    }

    .competences{
      margin-left:175px;
      margin-right: 175px;
    }

    .section__youtube{
      margin-left: 180px;
      margin-right: 180px;
    }

    .milestone{
      margin-left: 310px;
      margin-right: 310px;
    }
}

@media (min-width: 1500px){
  .section__passions{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "dev prod sw gaming";
}

  #passions_articlea{
    grid-area: dev;
  }

  #passions_articleb{
    grid-area: prod;
  }

  #passions_articlec{
    grid-area: sw;
  }

  #passions_articled{
    grid-area: gaming;
  }
}

@media (min-width: 1600px){
  .sectionpresentation{
    margin-left: 95px;
  }
}

@media (min-width: 1639px){
  .sectionpresentation{
    margin-left: 95px;
  }

  #b{
    margin-bottom: 170px;
  }

  #c{
    margin-top: 170px;
  }
}

@media (min-width: 1638px){
  .sectionpresentation{
    margin-left: 95px;
  }

  #b{
    margin-bottom: 170px;
  }

  #c{
    margin-top: 170px;
  }
}

@media (min-width: 1445px){
  .sectionpresentation{
    margin-left: 95px;
  }

  #b{
    margin-bottom: 160px;
  }

  #c{
    margin-top: 160px;
  }
}




/* fin */
